<div class="row">
    <div class="col-12">
        <div class="block">
            <div class="title"><strong>Playlists</strong></div>
        </div>
        <div class="block-body">
            {{ dump(playlists) }}
            {% for playlist in playlists %}
                {{ playlist.title }}
            {% endfor %}
        </div>
    </div>
</div>