{% extends 'admin/admin_base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Edit user</button>
    {{ form_end(form) }}
{% endblock %}