{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-inner">
            {% for news in newsItems %}
                <a href="{{ path('main_news_view', {'slug' : news.slug}) }}">{{ news.title }}</a>
                <hr>
            {% endfor %}
        </div>
    </div>

{% endblock %}