{% extends 'admin/admin_base.html.twig' %}

{% block title %}New video{% endblock %}

{% block pageheader %}New video{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="block">
                <div class="title"><strong class="d-block">New video</strong></div>
                <div class="block-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button class="btn btn-primary" type="submit">Create</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}