{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn button-general" type="submit"><i class="fas fa-plus"></i> Add clip</button>
    {{ form_end(form) }}
{% endblock %}