@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";

@import "admin/style.default.css";
@import "admin/font.css";
@import "admin/custom.css";

.navigation-i-fix {
  padding-right: 20px;
  border-right: 1px solid #454649;
}

table {
  td, th {
    border-color: #3e4248 !important;
  }
}