$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1480px
) !default;

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/bootstrap";

@import "main/_carousel.css";

@import "main/import";



body {
  background: $color-background;
  font-family: 'Montserrat', Arial;
  color: #fff;

}

.map-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .map-card {
    width: 180px;
    margin: 10px;
    height: 100px;

    .map-title {
      color: white;
      text-shadow: 0 0 3px black;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      bottom: 30px;
      left: 10px;
    }
  }
}

.fade-enter-active {
  transition: all .3s;
}
.fade-leave-active {
  transition: all .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fadeloader-enter-active {
  transition: all ease-out .7s;
}
.fadeloader-leave-active {
  transition: all ease-out .3s;
}
.fadeloader-enter /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fadeloader-leave-to {
  opacity: 0;
}

.fademaps-enter-active {
  transition: all ease-out .7s;
}
.fademaps-leave-active {
  transition: all ease-out .3s;
}
.fademaps-enter, .fademaps-leave-to  /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(100%);
}
