<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="app">
            <a href="{{ path('main_authentication_login') }}">Login</a>
            {% if app.user %}
                <a href="{{ path('admin_main_home') }}">Admin</a>
            {% endif %}
            <hr>
            <hr>
            <streamer-status></streamer-status>

            {% block body %}
            {% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </body>
</html>
<script>
    import Hello from "../assets/js/components/Hello";
    export default {
        components: {Hello}
    }
</script>
<script>
    import StreamerStatus from "../assets/js/components/app/StreamerStatus";
    export default {
        components: {StreamerStatus}
    }
</script>