<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <a href="{{ path('main_authentication_login') }}">Login</a>
        {% if app.user %}
            <a href="{{ path('admin_main_home') }}">Admin</a>
        {% endif %}
        <hr>
        <hr>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </body>
</html>
