header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 62px;
  background: $color-grey-dark;
  z-index: 1000;

  & .logo {
    float: left;
    width: 200px;
    margin: 15px 15px;

    & .logo-text {
      width: 100px;
      margin-left: 10px;
    }

    & .bull {

    }
  }

  & .navigation {
    float: left;
    height: 62px;
  }

  a.twitch-login {
    color: white;
  }

  & .login {
    float: right;
    height: 62px;
    padding: 18px;
    font-size: 12px;
    line-height: 30px;
    background: $color-puple-twitch;

    @extend %transition-link;

    &:hover {
      background: #744bbe;
    }
  }
}