main.main {
  width: 100%;
  background: $color-background;
  margin-top: 62px;
}

.box {
  margin: 15px 0;
  width: auto;
  background: #ffffff;
  border-right: 1px solid #ced8eb;
  border-bottom: 1px solid #ced8eb;

  .box-inner {
    padding: 15px;
  }
}