main.main {
  width: 100%;
  background: $color-background;
  margin-top: 62px;
}

.box {
  margin: 15px 0;
  width: auto;

  .box-inner {
    padding: 15px;
  }

  .box-head {
    clear: both;
    margin-bottom: 15px;
    height: 60px;

    .box-title {
      float: left;
    }

    .box-action {
      float: right;
    }
  }
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.scale-loader {
  color: #fff;

}