/**
# Colors
 */

$color-background: #e4e9f3;

// greys
$color-grey-dark: #26252a;
$color-grey-medium: #333138;
$color-grey-light: #524f59;
$color-grey-lighter: #afafaf;
$color-grey-lightest: #f6f5f8;

// oranges
$color-orange-main: #ff870a;

// purples
$color-puple-twitch: #6441a4;