/**
# Colors
 */

$color-background: #27262b;

// greys
$color-grey-dark: #201e23;
$color-grey-medium: #333138;
$color-grey-light: #524f59;
$color-grey-lighter: #afafaf;
$color-grey-lightest: #f6f5f8;
$color-grey-soft: #3c393f;

// oranges
$color-orange-main: #ff870a;
$color-orange-dark: #ec4907;
$color-orange-darker: #db4306;

// purples
$color-puple-twitch: #6441a4;